{% extends page.template %}
{% block view %}
	{% embed page.layout %}
		{% block view_content %}
			<h1>Info</h1>
			<p style="width: 30%;">This is an <b>info</b> page. As you can see, there is very little <b>information</b> here. Let us hope this changes someday and there will be more <b>information</b>. Finally, just to make sure; this page contains <b>information</b>.</p>
		{% endblock view_content %}
	{% endembed %}
{% endblock %}
