{% extends page.template %}
{% block view %}
	{% embed page.layout %}
		{% block view_content %}
			<h1>GO FUCK YISELF YI LIL ARSE!</h1>
		{% endblock view_content %}
	{% endembed %}
	This is a fishing pole.
{% endblock %}
