body {
  margin:0px;
  background-image:url('../../images/home/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  position:static;
  left:auto;
  width:1540px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:310px;
  top:0px;
  width:860px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:310px;
  top:208px;
  width:860px;
  height:77px;
  font-size:72px;
  color:#00CCFF;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:77px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:530px;
  top:310px;
  width:420px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:403px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:420px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:1540px;
  height:100px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1540px;
  height:100px;
}
#u6 {
  position:absolute;
  left:2px;
  top:42px;
  width:1536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:470px;
  top:50px;
  width:100px;
  height:30px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7_img.selected {
}
#u7.selected {
}
#u7_img.mouseOver {
}
#u7.mouseOver {
}
#u7_img.mouseDown {
}
#u7.mouseDown {
}
#u8 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:630px;
  top:50px;
  width:100px;
  height:30px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9_img.selected {
}
#u9.selected {
}
#u9_img.mouseOver {
}
#u9.mouseOver {
}
#u9_img.mouseDown {
}
#u9.mouseDown {
}
#u10 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:790px;
  top:50px;
  width:100px;
  height:30px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u11_img.selected {
}
#u11.selected {
}
#u11_img.mouseOver {
}
#u11.mouseOver {
}
#u11_img.mouseDown {
}
#u11.mouseDown {
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:1350px;
  top:50px;
  width:100px;
  height:30px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13_img.selected {
}
#u13.selected {
}
#u13_img.mouseOver {
}
#u13.mouseOver {
}
#u13_img.mouseDown {
}
#u13.mouseDown {
}
#u14 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:950px;
  top:50px;
  width:100px;
  height:30px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15_img.selected {
}
#u15.selected {
}
#u15_img.mouseOver {
}
#u15.mouseOver {
}
#u15_img.mouseDown {
}
#u15.mouseDown {
}
#u16 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:150px;
  top:10px;
  width:80px;
  height:81px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:81px;
}
#u18 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:470px;
  top:80px;
  visibility:hidden;
}
#u19_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u19_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:160px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:160px;
}
#u21 {
  position:absolute;
  left:2px;
  top:72px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:20px;
  top:30px;
  width:63px;
  height:15px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:15px;
}
#u22_img.mouseOver {
}
#u22.mouseOver {
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:20px;
  top:60px;
  width:60px;
  height:15px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u24_img.mouseOver {
}
#u24.mouseOver {
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:20px;
  top:90px;
  width:47px;
  height:15px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:15px;
}
#u26_img.mouseOver {
}
#u26.mouseOver {
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:20px;
  top:120px;
  width:61px;
  height:15px;
  font-family:'Arial Vet', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:610px;
  top:340px;
  width:260px;
  height:160px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:160px;
}
#u31 {
  position:absolute;
  left:2px;
  top:72px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:570px;
  top:534px;
  width:360px;
  height:106px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:106px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
