{% extends page.template %}
{% block view %}
	{% embed page.layout %}
		{% block view_left_panel %}
			{% include 'left_bar.twig' %}
		{% endblock view_left_panel %}
		{% block view_content %}
			<p>Here be device info.</p>
			{% set show_rt = '' %}
			{% set show_history = 'hidden' %}
			{% if page.settings ['show'] is not empty %}
				{% set show_rt = (page.settings ['show'] != 'rt' ? 'hidden') %}
				{% set show_history = (page.settings ['show'] != 'history' ? 'hidden') %}
			{% endif %}
			<div id="rt-feed" class="{{ show_rt }}">
				{{ dump (data) }}
			</div>
			<div id="history-feed" class="{{ show_history }}">
				{{ dump (data) }}
			</div>
		{% endblock view_content %}
	{% endembed %}
{% endblock %}
