{#
	page - Page
	page.settings
	data.devices - array
#}
{% extends page.template %}
{% block view %}
	{% embed page.layout %}
		{% block view_content %}
			<div>
				<h1>Devices</h1>
				{% for view in page.subViews %}
					{{ generators.sub_view (view, _context) }}
				{% endfor %}
			</div>
		{% endblock view_content %}
	{% endembed %}
	This is a fishing pole.
{% endblock %}
