<h1>LoRaWAN</h1>
<ul id="for-the-people">
	<li><p><a href="https://www.lora-alliance.org/What-Is-LoRa/Technology">For those who like reading.</a></p></li>
	<li><p><a href="https://nl.wikipedia.org/wiki/LoRaWAN">For those who dislike reading.</a></p></li>
	<li><p><a href="https://www.youtube.com/watch?v=2Y0bMX3TVi0">For those who are incapable to read.</a></p></li>
<ul>
