{% import _self as graph_util %}
<div id="{{ component.id }}" class="{{ component.classes (true) }}">
	<div id="graph-models" class="hidden">
		<!--
			Make clones of these and use them. Never modify these entries.
		-->
		<div class="graph-layout">
			<div class="line-table graph-section graph-section-aligned"></div
			><div class="graph-chart graph-section graph-section-aligned">
				<div class="graph-heading"><h4></h4></div>
				<canvas></canvas>
			</div
			><div class="legend-table graph-section graph-section-aligned"></div>
		</div>
		<div id="graph-templates">
			<p class="line-entry"></p>
			<div class="legend-entry"></div>
		</div>
	</div>
</div>