{% import _self as graph_util %}
<div id="{{ component.id }}" class="{{ component.classes (true) }}">
	<div id="graph-models" class="hidden">
		<!--
			Make clones of these and use them. Never modify these entries.
		-->
		<div class="graph-layout">
			<div class="graph-head">
				<div class="line-table graph-section graph-section-aligned"></div
				><div class="graph-heading graph-chart graph-section graph-section-aligned"><h4></h4></div
				><div class="graph-options legend-table graph-section graph-section-aligned"><span class="icon icon-clickable toggle-visible" onclick="GraphManager.toggleGraph (event)">&#x22C0;</span></div>
			</div
			><div class="graph-body"
				><div class="line-table graph-section graph-section-aligned"></div
				><div class="graph-chart graph-section graph-section-aligned"><canvas></canvas></div
				><div class="legend-table graph-section graph-section-aligned"></div>
			</div>
		</div>
		<div id="graph-templates">
			<p class="line-entry"></p>
			<div class="legend-entry"></div>
		</div>
	</div>
</div>